<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Palindrome Checker</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">  
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>
        Palindrome Checker
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        Albert Tang, 10406380, I pledge my honor that I have abided by the Stevens Honor System. 3/4 Computer Science Major
    </footer>
    <script type="text/javascript" src="/js/palindrome.js"></script>
</body>

</html>